{%- liquid
  assign featured_blog = section.settings.blog
-%}

<!-- Blog -->
<section class="padding-bottom-60 padding-top-60">
  <div class="container">
    <div class="heading">
      <h2>{{ section.settings.heading }}</h2>
      <hr>
    </div>
    <div id="blog-slide" class="with-nav">
      {% if featured_blog != blank and featured_blog.articles_count > 0 %}
        {% for article in featured_blog.articles limit: section.settings.posts_to_show %}
          {%- liquid
            assign fallback_image = 'blog-img-1.jpg'
            case forloop.index
              when 2
                assign fallback_image = 'blog-img-2.jpg'
              when 3
                assign fallback_image = 'blog-img-3.jpg'
            endcase
          -%}
          {% render 'blog-post-card', article: article, fallback_image: fallback_image %}
        {% endfor %}
      {% elsif section.blocks.size > 0 %}
        {% for block in section.blocks limit: section.settings.posts_to_show %}
          {%- liquid
            assign fallback_image = 'blog-img-1.jpg'
            case forloop.index
              when 2
                assign fallback_image = 'blog-img-2.jpg'
              when 3
                assign fallback_image = 'blog-img-3.jpg'
            endcase
          -%}
          {% render 'blog-post-card', block: block, fallback_image: fallback_image %}
        {% endfor %}
      {% else %}
        {% render 'blog-post-card', fallback_image: 'blog-img-1.jpg', fallback_date: '25 Dec, 2017', fallback_comments: '86 Comments', fallback_title: 'It''s why there''s nothing else like Mac.', fallback_excerpt: 'Etiam porttitor ante non tellus pulvinar, non vehicula lorem fermentum. Nulla vitae efficitur mi [...]', fallback_url: '#.' %}
        {% render 'blog-post-card', fallback_image: 'blog-img-2.jpg', fallback_date: '25 Dec, 2017', fallback_comments: '86 Comments', fallback_title: 'Get the power to take your business to the next level.', fallback_excerpt: 'Etiam porttitor ante non tellus pulvinar, non vehicula lorem fermentum. Nulla vitae efficitur mi [...]', fallback_url: '#.' %}
        {% render 'blog-post-card', fallback_image: 'blog-img-3.jpg', fallback_date: '25 Dec, 2017', fallback_comments: '86 Comments', fallback_title: 'It''s why there''s nothing else like Mac.', fallback_excerpt: 'Etiam porttitor ante non tellus pulvinar, non vehicula lorem fermentum. Nulla vitae efficitur mi [...]', fallback_url: '#.' %}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Blog",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "From our Blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "posts_to_show",
      "label": "Posts to show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "manual_post",
      "name": "Manual post",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "date_text",
          "label": "Date text",
          "default": "25 Dec, 2017"
        },
        {
          "type": "text",
          "id": "comments_text",
          "label": "Comments text",
          "default": "86 Comments"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "It's why there's nothing else like Mac."
        },
        {
          "type": "textarea",
          "id": "excerpt",
          "label": "Excerpt",
          "default": "Etiam porttitor ante non tellus pulvinar, non vehicula lorem fermentum. Nulla vitae efficitur mi [...]"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Blog",
      "blocks": [
        {
          "type": "manual_post"
        },
        {
          "type": "manual_post",
          "settings": {
            "title": "Get the power to take your business to the next level."
          }
        },
        {
          "type": "manual_post"
        }
      ]
    }
  ]
}
{% endschema %}
