    <!-- Banner -->
    <section class="disply-sec slid-sec margin-bottom-0">
      <div class="container">
        <div class="row"> 
          
          <!-- Smartphone -->
          <div class="col-md-4">
            <div class="product">
              <div class="like-bnr">
                <div class="position-center-center">
                  <h5>New line required</h5>
                  <h4>Z68 Web Camera</h4>
                  <span class="price">$85.00</span> </div>
              </div>
            </div>
          </div>
          
          <!-- Sport -->
          <div class="col-md-4">
            <div class="product">
              <div class="like-bnr watch">
                <div class="position-center-center">
                  <h5>No restocking fee<br>
                    ($35 savings)</h5>
                  <h4>SmartPhone</h4>
                  <span class="price">$450.00</span> </div>
              </div>
            </div>
          </div>
          
          <!-- Saving up -->
          <div class="col-md-4">
            <div class="week-sale-bnr">
              <h4>Huge <span>Sale!</span></h4>
              <p>Saving up to 50% off all online
                store items this week.</p>
              <a href="#." class="btn-round">Shop now</a> </div>
          </div>
        </div>
      </div>
    </section>
    
{% schema %}
{
  "name": "Promo Tile Row",
  "settings": [],
  "presets": [
    {
      "name": "Promo Tile Row"
    }
  ]
}
{% endschema %}
