<section class="padding-top-60 padding-bottom-60">
  <div class="container">
    <div class="heading"><h2>Page Not Found</h2><hr></div>
    <p>The page you requested does not exist.</p>
    <a class="btn-round" href="{{ routes.root_url }}">Continue shopping</a>
  </div>
</section>
